.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 134px;
}
.copyright {
  position: absolute;
  top: 59.56px;
  left: 109px;
  line-height: 18px;
  display: inline-block;
  width: 374.67px;
  height: 14.89px;
}
.span {
  font-family: var(--text-single-300-regular);
}
.phat-trien-boi-thieu-nhi-cc02 {
  line-height: 18px;
}
.policy {
  text-decoration: underline;
  line-height: 30px;
  color: var(--color-lightsteelblue);
}
.span1 {
  line-height: 18px;
  font-family: var(--text-single-300-regular);
}
.footer-right {
  top: 54.59px;
  left: 1197px;
  text-align: right;
  display: inline-block;
  width: 641.33px;
  height: 24.81px;
}
.footer-right,
.wrapper {
  position: absolute;
}
.wrapper {
  top: 1580px;
  left: 0;
  width: 100%;
  height: 134px;
  color: var(--neutral-colors-text-gray);
}
.map1 {
  position: absolute;
  top: 137px;
  display: flex;
  width: 100%;
  height: 132px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5d5a88;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.mappic {
  position: absolute;
  top: 269px;
  left: 157px;
}
.sepline {
  position: absolute;
  top: 1042px;
  left: 131px;
  width: 1652px;
  height: 1px;
  background: black;
}
.info {
  position: absolute;
  top: 1087px;
  display: flex;
  width: 100%;
  height: 132px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5d5a88;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.sttable {
  position: absolute;
  top: 1219px;
  left: 191px;
}
.mastercontainer {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 1714px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
