.adminUserContainer {
  position: relative;
  background-color: var(--neutral-colors-white);
  font-family: Andika;
  height: 2100px;
  width: 100vw;
  overflow: hidden;
  color: #5d5a88;
}
.f {
  position: absolute;
  top: 2372px;
  width: 100vw;
  height: 134px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 713px;
  color: var(--neutral-colors-text-gray);
  box-shadow: 2px -1px black;
}
.cop {
  color: var(--neutral-colors-text-gray, #9795b5);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Andika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.cop1 {
  color: var(--neutral-colors-color-800, #adabc3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Andika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  cursor: pointer;
}
.buyHis2 {
  margin: 10px;
  left: 50px;
  position: absolute;
  display: flex;
  top: 1055px;
  justify-content: space-between;
  align-items: center;
  width: 1740px;
}
.buyHisTex2 {
  color: #000;
  font-family: Andika;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.datePrint2 {
  color: #000;
  font-family: Andika;
  font-size: 29.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.printingHistoryList {
  position: absolute;
  width: 100%;
  top: 713px;
  left: 50px;
  max-height: 335px;
  border-bottom: 1px solid black;
  overflow-y: scroll;
}
.secondBreak {
  position: relative;
  top: 80px;
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.printscroll {
  position: absolute;

  width: 100%;
  top: 1170px;
  left: 50px;
  max-height: 338px;
  border-bottom: 1px solid black;
  overflow-y: scroll;
}
.thirdBreak {
  position: absolute;
  width: 1770px;
  top: 1590px;
  left: 40px;
  margin-left: 10px;
}
.op1 {
  position: absolute;
  top: 1600px;
  left: 50px;
  width: 925px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  color: black;
}
.op1Intro {
  color: #000;
  font-family: Andika;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.op1Cons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Andika;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  left: -23px;
}
.upd {
  width: 12%;
  height: 100%;
  margin-left: 10px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: var(--neutral-colors-headings-black, #5d5a88);
  border: none;
  color: #fff;
  font-family: Andika;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.upd:hover {
  background-color: #443f86;
}
.upd:active {
  background-color: #160e86;
}
.op1Tex {
  color: #000;
  font-family: Andika;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  left: 49px;
}
.typeOfFiles {
  border: 1px solid black;
  position: absolute;
  top: 1800px;
  left: 100px;
}
.hehe,
.dat2,
.dat23 {
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: var(--font-andika);
  align-items: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dat23Color {
  height: 80%;
  width: 60%;
  border-radius: 22px;
  background: #fcaaaa;
  text-align: center;
  color: #cd6200;
  display: inline-block;
}
.dat231 {
  border-radius: 22px;
  background: #b3ffd4;
  color: #1f9254;
}
.datG {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.big-container {
  background-color: var(--neutral-colors-white);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
  height: 100%;
}
.container {
  width: 300px;
  height: 80px;
  margin-left: 40px;
}

.on {
  height: 40%;
  width: 50%;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 22px;
  background: #b3ffd4;
  color: #1f9254;
  cursor: pointer;
  margin-left: 60px;
}
.on:hover {
  background-color: rgb(0, 231, 100);
}
.off {
  height: 40%;
  width: 50%;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 22px;
  background: #fcaaaa;
  color: #cd6200;
  cursor: pointer;
  margin-left: 60px;
}
.off:hover {
  background-color: #f78282;
}

.cButton {
  padding: 13px 12px;
  width: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1f9254;
  font-family: Andika;
  border-radius: 22px;
  background: #b3ffd4;
  border: none;
}
.cButton:hover {
  background-color: #1f9254;
  color: white;
}
.cButton:active {
  background-color: #058a43;
  color: white;
}
.cButton1 {
  padding: 13px 12px;
  width: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #cd6200;
  font-family: Andika;
  border-radius: 22px;
  background: #fcaaaa;
  border: none;
}
.op2 {
  position: absolute;
  top: 1600px;
  left: 1000px;
  width: 925px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  color: black;
}
.op2Intro {
  color: #000;
  font-family: Andika;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.op2Cons,
.op2Cons1,
.op2Tex,
.op2Tex1 {
  color: #000;
  font-family: Andika;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ti {
  width: 260px;
  color: var(--Black, #313144);
  font-family: Andika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 90% */
  letter-spacing: 0.6px;
  margin-left: 20px;
}
.op2Tex {
  position: absolute;
  top: 240px;
}
.op2Tex1 {
  position: absolute;
  top: 290px;
}
#addPrinterBtn1 {
  position: absolute;
  top: 1532px;
  left: 800px;
  width: 102px;
  height: 41px;
  margin-left: 10px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: var(--neutral-colors-headings-black, #5d5a88);
  border: none;
  color: #fff;
  font-family: Andika;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#addPrinterBtn1:hover {
  background-color: #443f86;
}
#addPrinterBtn1:active {
  background-color: #160e86;
}
#pageNum {
  margin-left: 30px;
  background-color: gray;
  height: 25px;
  width: 60px;
  color: #000;
  font-family: Andika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sum3 {
  position: absolute;
  top: 1540px;
  left: 50px;
  color: #000;
  font-family: Andika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.addPrinter-input1 {
  position: absolute;
  top: 1540px;
  left: 200px;
  width: 100px;
  background-color: white;
  font-family: Andika;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}
.addPrinter-input2 {
  position: absolute;
  top: 1540px;
  left: 350px;
  width: 100px;
  background-color: white;
  font-family: Andika;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}
.addPrinter-input3 {
  position: absolute;
  top: 1540px;
  left: 500px;
  width: 100px;
  background-color: white;
  font-family: Andika;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}
.addPrinter-input4 {
  position: absolute;
  top: 1540px;
  left: 650px;
  width: 100px;
  background-color: white;
  font-family: Andika;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}
.addPrinter-input5 {
  position: absolute;
  top: 1540px;
  left: 800px;
  width: 100px;
  background-color: white;
  font-family: Andika;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}
.datePickerContainer {
  display: flex;
  margin: 15px;
  gap: 10px;
  width: 500px;
  overflow: visible;
}
#startDate {
  height: 20px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
#endDate {
  height: 20px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.printHis01 {
  margin: 10px;
  left: 50px;
  position: absolute;
  display: flex;
  top: 550px;
  justify-content: space-between;
  align-items: center;
  width: 1740px;
}
#fixxing {
  font-size: 30px;
}
