.uploadPage {
  background-color: var(--neutral-colors-white);
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
.uploadContainer {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 98vw;
  height: 90vh;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.upTablePositionFalse {
  position: absolute;
  top: 133px;
  left: 697px;
}

.upTablePosition {
  flex: 1;
}

.chooseTablePosition {
  flex: 1;

}
.propertiesTablePosition {
  flex: 1;
}
