.copyright {
  position: absolute;
  top: 59.56px;
  left: 109px;
  line-height: 18px;
  display: inline-block;
  width: 374.67px;
  height: 14.89px;
}
.span {
  font-family: var(--text-single-300-regular);
}
.phat-trien-boi-thieu-nhi-cc02 {
  line-height: 18px;
}
.policy {
  text-decoration: underline;
  line-height: 30px;
  color: var(--color-lightsteelblue);
}
.span1 {
  line-height: 18px;
  font-family: var(--text-single-300-regular);
}
.footer-right {
  top: 54.59px;
  left: 1197px;
  text-align: right;
  display: inline-block;
  width: 641.33px;
  height: 24.81px;
}
.footer-right,
.wrapper {
  position: absolute;
}
.wrapper {
  top: 1580px;
  left: 0;
  width: 100%;
  height: 134px;
  box-shadow: 5px -1.5px #9795b5;
}
.header {
  position: absolute;
  width: 100%;
  height: 122px;
  flex-shrink: 0;
  box-shadow: 5px 1.5px #9795b5;
}
.bklogo {
  position: absolute;
  top: 19px;
  left: 28px;
  width: 83px;
  height: 84px;
}
.name {
  position: absolute;
  top: 47px;
  left: 139px;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  display: inline-block;
  height: 29px;
}
.contain1s {
  position: absolute;
  width: fit-content;
  height: 374px;
  left: 134px;
  top: 263px;
}
.texts {
  font-size: 50px;
  line-height: 80.57px;
  display: block;
}
.text1s {
  font-size: 35px;
  line-height: 56.4px;
}
.contain2s {
  position: absolute;
  width: 375px;
  height: 158px;
  top: 410px;
  left: 134px;
}
.notice1 {
  font-size: 20px;
  line-height: 24px;
}

.pic {
  position: absolute;
  width: 491px;
  height: 488px;
  top: 384px;
  left: 550px;
  flex-shrink: 0;
}
.loginframe {
  position: absolute;
  left: 1135px;
  top: 263px;
  width: 580px;
  height: fit-content;
  font-size: 40px;
  color: black;
}
.username {
  position: absolute;
  top: 397px;
  left: 1146px;
  border-radius: 10px;
  display: block;
  width: 544px;
  height: 97px;
  font-size: 25px;
}
.username::placeholder {
  color: rgba(93, 90, 136, 0.5);
  font-family: Andika;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pass {
  position: absolute;
  top: 553px;
  left: 1146px;
  display: block;
}
.help {
  position: absolute;
  top: 679px;
  left: 1473px;
  width: 222px;
  height: 33px;
  flex-shrink: 0;
  color: #b0b0b0;
  font-size: 23px;
  font-style: normal;
  line-height: normal;
}
.logbutt {
  position: absolute;
  top: 780px;
  left: 1146px;
  width: 544px;
  height: 92px;
  border-radius: 10px;
  background-color: #5d5a88;
  border: 1px solid var(--neutral-colors-headings-black);
  transition: background-color 0.5s;
  font-size: 25px;
  color: #fff;
}
.logbutt:hover {
  background-color: #1ea9e9;
  color: #fff;
}
.logbutt:active {
  background-color: #12a86e42;
  transition: background-color 0s;
}
.biggestcontainer {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 2714px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
