.header-choose-login {
  width: 100%;
  height: 122px;
  box-shadow: 5px 1.5px #9795b5;
  display: flex;
  justify-content: left;
  align-items: center;
}
.bklogo-choose-login {
  padding-left: 20px;
  width: 83px;
  height: 84px;
}
.name-choose-login {
  margin-left: 20px;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  display: inline-block;
  height: 29px;
}
.login-container-admin {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.left-sec-login-admin {
  padding-left: 10vh;
  display: flex;
  height: 80vh;
  flex: 2.5;
  flex-direction: column;
}
.right-sec-login-admin {
  margin-left: 20px;
  margin-right: 40px;
  height: 80vh;
  flex: 1.5;
}
.contain1s {
  width: fit-content;
}
.texts {
  font-size: 50px;
  line-height: 80.57px;
  display: block;
}
.text1s {
  font-size: 35px;
  line-height: 56.4px;
}
.column-admin {
  display: flex;
  flex-direction: row;
}
.contain2s {
  height: 158px;
  left: 134px;
  margin-top: 30px;
  width: 25vw;
}
.notice1 {
  font-size: 20px;
  line-height: 24px;
}

.pic {
  width: 50%;
  flex-shrink: 0;
}
.loginframe {
  width: 100%;
  height: fit-content;
  font-size: 40px;
  color: black;
}
.username {
  background-color: #f2f1fa;
  border: none;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
  height: 97px;
  font-size: 25px;
  margin-bottom: 60px;
}
.username::placeholder {
  color: rgba(93, 90, 136, 0.5);
  font-family: Andika;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pass {
  display: block;
  width: 100%;
}
.help {
  margin-top: 20px;
  width: 100%;
  height: 33px;
  flex-shrink: 0;
  color: #b0b0b0;
  font-size: 23px;
  font-style: normal;
  line-height: normal;
  text-align: right;
}
.logbutt {
  margin-top: 80px;
  width: 100%;
  height: 92px;
  border-radius: 10px;
  background-color: #5d5a88;
  border: 1px solid var(--neutral-colors-headings-black);
  transition: background-color 0.5s;
  font-size: 25px;
  color: #fff;
  transition: box-shadow 0.4s ease;
}
.logbutt:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.logbutt:active {
  background-color: #12a86e42;
  transition: background-color 0s;
}
.biggestcontainer {
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
#Login1Footer {
  position: relative;
  top: +600px;
}
