.header-choose-login {
  width: 100%;
  height: 122px;
  box-shadow: 5px 1.5px #9795b5;
  display: flex;
  justify-content: left;
  align-items: center;
}
.bklogo-choose-login {
  padding-left: 20px;
  width: 83px;
  height: 84px;
}
.name-choose-login {
  margin-left: 20px;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  display: inline-block;
  height: 29px;
}
.login-container {
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.left-section-login-stu {
  padding-left: 10vh;
  display: flex;
  height: 80vh;
  flex: 2.5;
  flex-direction: column;
}
.right-section-login-stu {
  margin-right: 10vh;
  height: 80vh;
  flex: 1.5;
}
.contain1v {
  width: fit-content;
}
.textv {
  font-size: 50px;
  line-height: 80.57px;
  display: block;
}
.text1v {
  font-size: 35px;
  line-height: 56.4px;
}
.column-stu {
  display: flex;
  flex-direction: row;
}
.contain2 {
  display: block;
  width: 25vw;
  margin-top: 30px;
  height: 158px;
}
.notice1 {
  font-size: 20px;
  line-height: 24px;
}
.notice2 {
  font-size: 20px;
  line-height: 24px;
}
.pic-login {
  width: 50%;
  flex-shrink: 0;
}
.loginframe-stu {
  width: 100%;
  height: fit-content;
  font-size: 40px;
  color: black;
}
.username-stu {
  background-color: #F2F1FA;
  border: none;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
  height: 97px;
  font-size: 25px;
  margin-bottom: 60px;
}
.username-stu::placeholder {
  color: rgba(93, 90, 136, 0.5);
  font-family: Andika;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pass-stu {
  display: block;
  width: 100%;
}
.help-stu {
  margin-top: 20px;
  width: 100%;
  height: 33px;
  flex-shrink: 0;
  color: #b0b0b0;
  font-size: 23px;
  font-style: normal;
  line-height: normal;
  text-align: right;
}
.logbutt-stu {
  margin-top: 80px;
  width: 100%;
  height: 92px;
  border-radius: 10px;
  background-color: #5d5a88;
  border: 1px solid var(--neutral-colors-headings-black);
  transition: background-color 0.5s;
  font-size: 25px;
  color: #fff;
  transition: box-shadow 0.4s ease;
}
.logbutt-stu:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.logbutt-stu:active {
  background-color: #12a86e42;
  transition: background-color 0s;
}
.biggestcontainer-login {
  background-color: var(--neutral-colors-white);
  width: 100%;
<<<<<<< HEAD
  height: 1714px;
=======
  height: 100vh;
>>>>>>> Tho
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
