.chooseP {
  width: 526px;
  height: 799px;
  border: 2px solid #483ea8;
  font-family: var(--font-andika);
}
.chooseTitle {
  color: #0f0f0f;
  position: absolute;
  top: 20px;
  left: 158px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Andika;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.instruc1 {
  position: absolute;
  padding-top: 5px;
  top: 84px;
  left: 140px;
  width: 259px;
  height: 39px;
  color: #b80000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Andika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.choosePrinters {
  position: absolute;
  top: 200px;
  left: 28px;
  width: 471px;
  height: 240px;
  border: 1px solid #0f0f0f;
}
th,
td {
  width: 198px;
  text-align: center;
  font-family: var(--font-andika);
  color: #5d5a88;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
th {
  font-size: 30px;
}
td {
  font-size: 15px;
}
table tr td:nth-child(1) {
  width: 300px;
}
input {
  width: 24px;
  height: 24px;
}
.checkLocate {
  position: absolute;
  top: 450px;
  left: 370px;
  cursor: pointer;
  text-decoration: underline;
}
#finish {
  position: absolute;
  top: 690px;
  left: 28px;
  display: flex;
  width: 471px;
  height: 58px;
  padding: 9px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #483ea8;
  font-family: var(--font-andika);
  color: white;
}

.custom-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio label {
  position: relative;
  padding-left: 30px; /* Adjust as needed for your design */
  cursor: pointer;
}

.custom-radio label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Size of the radio button */
  height: 20px; /* Size of the radio button */
  border: 2px solid #483ea8; /* Border color */
  border-radius: 50%; /* Rounded shape */
}

.custom-radio input[type="radio"]:checked + label::before {
  background-color: #483ea8; /* Fill color when checked */
}

.custom-radio label::after {
  content: '';
  position: absolute;
  left: 5.5px; /* Adjust for alignment */
  top: 5.5px; /* Adjust for alignment */
  width: 12px; /* Size of the inner circle */
  height: 12px; /* Size of the inner circle */
  border-radius: 50%;
  background: #fff; /* Color of the inner circle */
  display: none;
}

.custom-radio input[type="radio"]:checked + label::after {
  display: block;
}
