.wrapper-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90px;
  color: var(--neutral-colors-text-gray);
}

.right-footer {
  flex: 1;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 134px;
}

.left-footer {
  flex: 1.4;
  padding-left: 70px; 
}

.span {
  font-family: var(--text-single-300-regular);
}

.phat-trien-boi-thieu-nhi-cc02 {
  line-height: 18px;
}

.policy {
  text-decoration: underline;
  line-height: 30px;
  color: var(--color-lightsteelblue);
}
