.pav {
  width: 560px;
  height: 97px;
  display: inline;
}
.pav1 {
  border-radius: 10px;
  display: inline;
  width: 544px;
  height: 97px;
  font-size: 25px;
}
.pav1::placeholder {
  color: rgba(93, 90, 136, 0.5);
  font-family: Andika;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* img {
  position: absolute;
  left: 520px;
  top: 39px;
  cursor: pointer;
} */
