.pav {
  
  height: 100%;
  display: inline;
  position: relative;
}
.pav1 {
  background-color: #F2F1FA;
  border: none;
  padding-left: 10px;
  border-radius: 10px;
  display: inline;
  width: 100%;
  height: 97px;
  font-size: 25px;
}
.pav1::placeholder {
  color: rgba(93, 90, 136, 0.5);
  font-family: Andika;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* img {
  position: absolute;
  left: 520px;
  top: 39px;
  cursor: pointer;
} */
.togglePassword {
  position: absolute;
  top: 5px;
  right: 20px;
}