h2 {
  margin-block-start: 0.53em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.bigbox {
  margin-top: 40px;
  width: 550px;
  height: 80vh;
  border: 2px solid #483ea8;
  font-family: var(--font-andika);
}
.properTitle {
  color: #0f0f0f;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Andika;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.br {
  top: 100px;
  left: 100px;
  overflow: cover;
  width: 330px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.pageSize,
.numbersPage,
.pageSide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text {
  color: #000;
  font-family: Andika;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  flex: 1;
  margin-left: 60px;
}
.pageSize {
  margin-bottom: 120px;
}
.pageSide {
  margin-bottom: 120px;
  top: 322px;
}
.chooseSize {
  padding-left: 10px;
  width: 50%;
  height: 50px;
  font-family: Andika;
  font-size: medium;
  cursor: pointer;
  background-color: #efedff;
  border-radius: 15px;
  border-color: #215aff;
  color: black;
  flex: 1;
  margin-right: 60px;
}
.numbersPage {
  top: 500px;
}
.number {
  padding-left: 10px;
  border-radius: 15px;
  border-color: #215aff;
  flex: 0.98;
  margin-right: 60px;
  height: 50px;
  background-color: #efedff;
  color: black;
  font-size: 20px;
}
.number::placeholder {
  font-size: medium;
  font-family: var(--font-andika);
  text-align: left;
  align-items: center;
  color: white;
  justify-content: center;
}
.properties-btn-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#finish2 {
  position: absolute;
  bottom: 60px;
  width: 20%;
  height: 58px;
  padding: 9px 14px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #483ea8;
  font-family: var(--font-andika);
  color: white;
}
