.copyright {
  position: absolute;
  top: 59.56px;
  left: 109px;
  line-height: 18px;
  display: inline-block;
  width: 374.67px;
  height: 14.89px;
}
.span {
  font-family: var(--text-single-300-regular);
}
.phat-trien-boi-thieu-nhi-cc02 {
  line-height: 18px;
}
.policy {
  text-decoration: underline;
  line-height: 30px;
  color: var(--color-lightsteelblue);
}
.span1 {
  line-height: 18px;
  font-family: var(--text-single-300-regular);
}
.footer-right {
  top: 54.59px;
  left: 1197px;
  text-align: right;
  display: inline-block;
  width: 641.33px;
  height: 24.81px;
}
.footer-right,
.wrapper {
  position: absolute;
}
.wrapper {
  top: 1580px;
  left: 0;
  width: 100%;
  height: 134px;
  box-shadow: 5px -1.5px #9795b5;
}
.header {
  position: absolute;
  width: 100%;
  height: 122px;
  flex-shrink: 0;
  box-shadow: 5px 1.5px #9795b5;
}
.bklogo {
  position: absolute;
  top: 19px;
  left: 28px;
  width: 83px;
  height: 84px;
}
.name {
  position: absolute;
  top: 47px;
  left: 139px;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  display: inline-block;
  height: 29px;
}
.bklogo1 {
  position: absolute;
  top: 178px;
  left: 816px;
  width: 288px;
  height: 279px;
}
.chosen {
  position: absolute;
  top: 513px;
  left: 546px;
  width: 828px;
  height: 424px;
  border-style: solid;
  border-color: #000;
  border-left-color: #fff;
  border-right-color: #fff;
}
.stu {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 56px;
  left: 59px;
  width: 711px;
  height: 132px;
  color: #000;
  text-align: center;
  font-family: Andika;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}
.stu:hover {
  background-color: #032b91;
  transition: 0.5s;
}
.stu:active {
  background-color: #12a86e42;
  transition: 0s;
}
.admin {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 237px;
  left: 59px;
  width: 711px;
  height: 132px;
  color: #000;
  text-align: center;
  font-family: Andika;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}
.admin:hover {
  background-color: #032b91;
  transition: 0.5s;
}
.admin:active {
  background-color: #12a86e42;
  transition: 0s;
}
.biggestcontainer {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 1714px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
