.copyright {
  position: absolute;
  top: 59.56px;
  left: 109px;
  line-height: 18px;
  display: inline-block;
  width: 374.67px;
  height: 14.89px;
}
.span {
  font-family: var(--text-single-300-regular);
}
.phat-trien-boi-thieu-nhi-cc02 {
  line-height: 18px;
}
.policy {
  text-decoration: underline;
  line-height: 30px;
  color: var(--color-lightsteelblue);
}
.span1 {
  line-height: 18px;
  font-family: var(--text-single-300-regular);
}
.footer-right {
  top: 54.59px;
  left: 1197px;
  text-align: right;
  display: inline-block;
  width: 641.33px;
  height: 24.81px;
}
.footer-right,
.wrapper {
  position: absolute;
}
.wrapper {
  top: 1580px;
  left: 0;
  width: 100%;
  height: 134px;
  box-shadow: 5px -1.5px #9795b5;
}
.header {
  position: absolute;
  width: 100%;
  height: 122px;
  flex-shrink: 0;
  box-shadow: 5px 1.5px #9795b5;
}
.bklogo {
  position: absolute;
  top: 19px;
  left: 28px;
  width: 83px;
  height: 84px;
}
.name {
  position: absolute;
  top: 47px;
  left: 139px;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  display: inline-block;
  height: 29px;
}
.bea {
  position: absolute;
  width: 787px;
  height: 838px;
  top: 125px;
  left: 173px;
}
.intro {
  position: absolute;
  top: 370px;
  left: 1098px;
  width: 586px;
  height: 162px;
  color: #000;
  font-family: Andika;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.outro {
  position: absolute;
  top: 567px;
  left: 1098px;
  width: 626px;
  height: 120px;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Andika;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.biggestcontainer-help {
  background-color: var(--neutral-colors-white);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
  height: 100%;
  width: 100vw;
}

.biggestcontainer {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 1714px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
#helpFoot {
  position: relative;
  top: 900px;
}
@media screen and (max-width: 1800px) {
  .intro {
    top: 30%;
    left: 60%;
    transform: translate(-20%, -100%);
  }
  .outro {
    top: 33%;
    left: 60%;
    transform: translate(-20%, -30%);
  }
  .bea {
    top: 12%;
    left: 10%;
    transform: translate(-10%, -10%);
  }
}

@media screen and (max-width: 1600px) {
  .intro {
    top: 62%;
    left: 45%;
    transform: translate(-40%, -100%);
  }
  .outro {
    top: 66%;
    left: 45%;
    transform: translate(-40%, -30%);
  }
  .bea {
    top: 12%;
    left: 44%;
    transform: translate(-40%, -10%);
  }
}
