.chooseP {
  width: 526px;
  height: 799px;
  border: 2px solid #483ea8;
  font-family: var(--font-andika);
}
.chooseTitle {
  color: #0f0f0f;
  position: absolute;
  top: 20px;
  left: 158px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Andika;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.instruc1 {
  position: absolute;
  padding-top: 5px;
  top: 84px;
  left: 140px;
  width: 259px;
  height: 39px;
  color: #b80000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Andika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.choosePrinters {
  position: absolute;
  top: 200px;
  left: 28px;
  width: 471px;
  height: 240px;
  border: 1px solid #0f0f0f;
}
th,
td {
  width: 198px;
  text-align: center;
  font-family: var(--font-andika);
  color: #5d5a88;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
th {
  font-size: 30px;
}
td {
  font-size: 15px;
}
table tr td:nth-child(1) {
  width: 300px;
}
input {
  width: 24px;
  height: 24px;
}
.checkLocate {
  position: absolute;
  top: 450px;
  left: 370px;
  cursor: pointer;
  text-decoration: underline;
}
#finish {
  position: absolute;
  top: 700px;
  left: 28px;
  display: flex;
  width: 471px;
  height: 58px;
  padding: 9px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #483ea8;
  font-family: var(--font-andika);
  color: white;
}
