.trang-da-dang-nhap-student {
  background-color: var(--neutral-colors-white);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
  height: 100%;
}
.welcome-container {
  position: relative;
  text-align: center;
  margin-top: 12px;
  height: 79vh;
}
.chm-1-icon-student {
  width: 100%;
  height: 100%;
}
.welcome-student {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  background-color: rgba(86, 86, 86, 0.80);
  padding: 20px;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  object-fit: cover;
}
.statement1-student {
  font-family: var(--font-andika);
  font-size: 3vw;
  display: block;
}
.statement2-student {
  font-family: var(--font-andika);
  font-size: 3.5vw;
}

.intro-container {
  padding-top: 40px;
  background-color: var(--neutral-colors-color-400);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper1-student {
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 36px;
}

.white-space-left,
.white-space-right {
  height: 100%;
  flex: 0.2;
}

.column-1 {
  display: flex;
  flex: 1;
}
.printer-img-container {
  flex: 2;
}
.printer-img {
  border-radius: 20px;
  width: 100%;
  height: 70%;
}
.column-2 {
  margin-left: 30px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  flex: 1.3;
  justify-content: center;
  align-items: center;
}
.heading-student {
  flex: 0.2;
  line-height: 46px;
  width: 68%;
  justify-content: center;
}
.paragraph-student {
  flex: 0.6;
  line-height: 46px;
  width: 65%;
  font-size: var(--font-size-lg);
  line-height: 30px;
  color: var(--neutral-colors-text-gray);
}

.btn-container {
  margin-top: 50px;
  width: 110%;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-set-admin {
  flex: 1;
}
.button-set2-admin {
  flex: 1;
  gap: 24px;
}
.master-primary-button-admin {
  border-radius: 47.27px;
  border: 1px solid var(--neutral-colors-headings-black);
  background-color: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  padding: var(--padding-9xl) var(--padding-37xl);
  gap: var(--gap-5xs);
  font-family: var(--font-andika);
  line-height: 20px;
  font-size: var(--text-single-300-regular-size);
  color: var(--neutral-colors-headings-black);
  text-decoration: none;
  transition: background-color 0.5s;
}

.master-secondary-button-admin {
  border-radius: 47.27px;
  border: 1px solid var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
  background-color: linear-gradient(90deg, #b13fb5, transparent) #21f372;
  line-height: 20px;
  font-size: var(--text-single-300-regular-size);
  padding: var(--padding-9xl) var(--padding-37xl);
  gap: var(--gap-5xs);
  color: var(--neutral-colors-headings-black);
  text-decoration: none;
  transition: background-color 0.5s;
}
.master-primary-button-admin:hover {
  background-color: rgba(86, 86, 86, 1);
  color: #fff;
}
.master-primary-button-admin:active {
  background-color: #12a86e42;
  transition: background-color 0s;
}
.master-secondary-button-admin:hover {
  background-color: rgba(86, 86, 86, 1);
  color: #fff;
}
.master-secondary-button-admin:active {
  background-color: #0a617c;
  transition: background-color 0s;
}
