.welcome-container {
  position: relative;
  text-align: center;
  height: 800px;
}
.chm-1-icon-student {
  width: 100%;
  height: 100%;
}
.welcome-student {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 790px;
  height: fit-content;
  background-color: rgba(102, 91, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  object-fit: cover;
}
.statement1-student {
  font-family: var(--font-andika);
  font-size: 40px;
  display: block;
}
.statement2-student {
  font-family: var(--font-andika);
  font-size: 60px;
}

.intro-container {
  display: flex;
  justify-self: center;
  flex-direction: row;
}

.white-space-left,
.white-space-right {
  flex: 1;
}

.call-to-action-v3-1 {
  background-color: var(--neutral-colors-color-400);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 609px;
  overflow: hidden;
}
.icon2 {
  top: 44px;
  left: 390px;
  border-radius: 20px;
  width: 521.35px;
  height: 521.35px;
  object-fit: cover;
}
.call-to-action-v3,
.chm-1-icon-student {
  display: block; /* Ensures the image takes up the full width of its container */
}
.heading,
.paragraph {
  position: absolute;
  top: 0;
  left: 0.35px;
  line-height: 46px;
  display: inline-block;
  width: 531.38px;
}
.paragraph {
  top: 108px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  color: var(--neutral-colors-text-gray);
  width: 523px;
}
.button-set22 {
  position: absolute;
  top: 214.32px;
  left: 250px;
  gap: 24px;
}
.button-set20 {
  position: absolute;
  top: 214.32px;
  left: 0;
  gap: 24px;
}
.master-primary-button1 {
  border-radius: 47.27px;
  border: 1px solid var(--neutral-colors-headings-black);
  background-color: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  padding: var(--padding-9xl) var(--padding-37xl);
  gap: var(--gap-5xs);
  font-family: var(--font-andika);
  line-height: 20px;
  font-size: var(--text-single-300-regular-size);
  color: var(--neutral-colors-headings-black);
  text-decoration: none;
  transition: background-color 0.5s;
}

.master-secondary-button1 {
  border-radius: 47.27px;
  border: 1px solid var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
  background-color: linear-gradient(90deg, #b13fb5, transparent) #21f372;
  line-height: 20px;
  font-size: var(--text-single-300-regular-size);
  padding: var(--padding-9xl) var(--padding-37xl);
  gap: var(--gap-5xs);
  color: var(--neutral-colors-headings-black);
  text-decoration: none;
  transition: background-color 0.5s;
}
.master-primary-button1:hover {
  background-color: #1ea9e9;
  color: #fff;
}
.master-primary-button1:active {
  background-color: #12a86e42;
  transition: background-color 0s;
}
.master-secondary-button1:hover {
  background-color: aqua;
  color: #fff;
}
.master-secondary-button1:active {
  background-color: #0a617c;
  transition: background-color 0s;
}

.wrapper1 {
  position: absolute;
  top: 1143.68px;
  left: 1038px;
  width: 531.73px;
  height: 290.32px;
  font-size: 36px;
}
.n-1-icon {
  position: absolute;
  top: 39px;
  left: 1795px;
  width: 44px;
  height: 45px;
  object-fit: cover;
}

.trang-da-dang-nhap {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 1714px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-colors-headings-black);
  font-family: var(--font-andika);
}
